
body {
    font-family: Times New Roman, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


section {
    padding: 20px;
}

article {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


